/* Start Variables */
/* End  Variables */
h1, h2, h3, h4, h5, h6 {
  color: #292b2c;
  font-family: "Roboto", sans-serif;
}

a {
  color: #292b2c;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-family: "Poppins", sans-serif;
}

a:hover {
  text-decoration: none;
  color: #FF324D;
}

/* Strat top nav */
.top-nav {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid #eee;
}

.top-nav .nav-pages {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  padding: 0;
}

.top-nav .nav-pages .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav .nav-pages .language {
  text-transform: capitalize;
  font-size: 12px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
}

.top-nav .nav-pages .language .select {
  cursor: pointer;
}

.top-nav .nav-pages .language .select + div {
  display: none;
  position: absolute;
  z-index: 99999;
  background-color: #fff;
  padding: 5px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 1px solid #dee2e6;
  margin-left: -6px;
  margin-top: 5px;
}

.top-nav .nav-pages .language .select + div img {
  border-radius: 50%;
}

.top-nav .nav-pages .language img {
  border-radius: 50%;
}

.top-nav .nav-pages .language .option {
  cursor: pointer;
  padding-bottom: 5px;
  padding-top: 5px;
}

.top-nav .nav-pages .language .option:last-child {
  padding: 3px;
}

.top-nav .nav-link {
  font-size: 12px;
  vertical-align: middle;
  color: #292b2c;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.top-nav .li-selected {
  border: 0;
  margin: 5px;
  font-size: 12px;
}

.top-nav .li-selected:focus {
  border: none;
  outline: none;
}

.nav-info ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.nav-info ul .nav-item {
  margin-right: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav-info ul .nav-item .nav-link {
  font-size: 14px;
  vertical-align: middle;
  color: #292b2c;
}

.nav-info ul .nav-item .nav-link i {
  margin: 6px;
  vertical-align: middle;
}

.nav-info ul .nav-item .nav-link:hover {
  color: #FF324D;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* End top nav */
/* Start NavBar */
.navbar {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid #fff;
  z-index: 100;
  -webkit-box-shadow: 1px 1px 1px 1px #b7b7b71f;
          box-shadow: 1px 1px 1px 1px #b7b7b71f;
}

.navbar .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
  color: #FF324D;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  vertical-align: middle;
  color: #292b2c;
  font-weight: 500;
  padding: 22px 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #FF324D;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover .show {
  display: block;
}

.navbar .navbar-collapse .navbar-nav .nav-item:hover .show {
  display: block;
}

.navbar .navbar-collapse .navbar-nav .dropdown {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar .navbar-collapse .navbar-nav .dropdown:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar .navbar-collapse .navbar-nav .dropdown:hover .dropdown-menu {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar .navbar-collapse .navbar-nav .dropdown:hover .show {
  display: block;
}

/* End NavBar */
/* start btn */
.btn {
  font-family: "Poppins", sans-serif;
  border-width: 1px;
  cursor: pointer;
  line-height: normal;
  padding: 12px 35px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 40px;
}

.btn-fill-line {
  background-color: transparent;
  border: 1px solid #333;
  overflow: hidden;
  position: relative;
  color: #fff !important;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 1;
}

.btn-fill-line::after, .btn-fill-line::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 50%;
}

.btn-fill-line::after {
  right: 0;
  left: auto;
}

.btn-fill-line:hover {
  color: #333 !important;
}

.btn-fill-line:hover::after, .btn-fill-line:hover::before {
  width: 0;
}

/* hover btn */
.hover-btn {
  border: 1px solid #FF324D;
  color: #FF324D;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.hover-btn::after, .hover-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #FF324D;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 0;
}

.hover-btn::after {
  right: 0;
  left: auto;
}

.hover-btn:hover {
  color: #fff;
}

.hover-btn:hover::after, .hover-btn:hover::before {
  width: 50%;
}

/* btn fill out */
.btn-fill-out {
  background-color: transparent;
  border: 1px solid #FF324D;
  overflow: hidden;
  position: relative;
  color: #fff !important;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 1;
}

.btn-fill-out::after, .btn-fill-out::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #FF324D;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 50%;
}

.btn-fill-out::after {
  right: 0;
  left: auto;
}

.btn-fill-out:hover {
  color: #FF324D !important;
}

.btn-fill-out:hover::after, .btn-fill-out:hover::before {
  width: 0;
}

/* btn_link */
.single_bn_link {
  position: relative;
}

.single_bn_link::before {
  content: "";
  position: absolute;
  bottom: 3px;
  height: 6px;
  background-color: rgba(255, 50, 77, 0.2);
  width: 100%;
  z-index: -1;
}

/* End btn */
/* heading */
.heading-prduuct {
  position: relative;
  margin-bottom: 45px;
  padding-bottom: 15px;
}

.heading-prduuct::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: #FF324D;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}

.heading-prduuct h1 {
  font-weight: 700;
}

/* heading */
/*  SHOP PRODUCT */
.product_box {
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.product_box .product_img {
  position: relative;
  overflow: hidden;
}

.product_box .product_img::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.product_box .product_img img {
  width: 100%;
}

.product_box .product_img .product_action_box {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  right: 0;
  text-align: center;
  padding-top: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.product_box .product_img .product_action_box .pr_action_btn {
  display: table;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
}

.product_box .product_img .product_action_box .pr_action_btn li {
  position: relative;
  margin: 0px 5px;
  display: inline-block;
  -webkit-transform: translate(0, 15px);
  transform: translate(0, 15px);
  opacity: 0;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.product_box .product_img .product_action_box .pr_action_btn li a {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #fff;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0;
  display: block;
  text-align: center;
}

.product_box .product_img .product_action_box .pr_action_btn li a:hover {
  background-color: #FF324D;
  color: #fff;
}

.product_box .product_info {
  padding: 15px;
  position: relative;
}

.product_box .product_info .product_title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
}

.product_box .product_info .product_price {
  margin-bottom: 5px;
}

.product_box .product_info .product_price .price {
  color: #FF324D;
  font-weight: 600;
}

.product_box .product_info .product_price del {
  font-size: 14px;
  margin-right: 5px;
  margin-left: 3px;
}

.product_box .product_info .rating_wrap {
  overflow: hidden;
  position: relative;
  height: 20px;
  font-size: 12px;
  width: 70px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  vertical-align: middle;
}

.product_box .product_info .rating_wrap .rating {
  overflow: hidden;
  position: relative;
  height: 20px;
  font-size: 12px;
  width: 70px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  vertical-align: middle;
}

.product_box .product_info .rating_wrap .rating::before {
  font-size: 12px;
  content: "\f005\f005\f005\f005\f005";
  top: 0;
  position: absolute;
  left: 0;
  float: left;
  color: #F6BC3E;
}

.product_box .product_info .rating_wrap .rating .product_rate {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
  color: #F6BC3E;
}

.product_box .product_info .rating_wrap .rating .product_rate::before {
  font-size: 12px;
  content: "\f005\f005\f005\f005\f005";
  top: 0;
  position: absolute;
  left: 0;
  font-weight: 900;
}

.product_box .product_info .rating_num {
  font-size: 14px;
  margin-left: 5px;
  vertical-align: middle;
  display: inline-block;
}

.product_box .product_info .pr_desc {
  display: none;
}

.product_box .product_info .add-to-cart {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  background-color: #fff;
  padding: 10px 15px 15px 15px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}

.product_box:hover .product_img::before {
  opacity: 1;
}

.product_box:hover .product_action_box .pr_action_btn li {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.product_box:hover .add-to-cart {
  bottom: 0px;
  opacity: 1;
  visibility: visible;
}

/* END SHOP PRODUCT */
/* START CART PRODUCT DROBDWON */
.cart-dropdown .dropdown-toggle .cart_count {
  position: relative;
  top: -3px;
  left: 0;
  font-size: 11px;
  background-color: #FF324D;
  border-radius: 50px;
  height: 16px;
  line-height: 16px;
  color: #fff;
  min-width: 16px;
  text-align: center;
  padding: 0 5px;
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  margin-right: -5px;
}

.cart-dropdown .dropdown-toggle::after {
  display: none;
}

.cart-dropdown .dropdown-menu {
  -webkit-box-shadow: 0px 0px 6px 0px #66666640;
          box-shadow: 0px 0px 6px 0px #66666640;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  min-width: 14rem;
}

.cart-dropdown .dropdown-menu .cart_footer .cart_total {
  color: #333333;
  margin: 0;
  padding: 10px 15px;
  font-weight: 600;
  text-align: right;
}

.cart-dropdown .dropdown-menu .cart_footer .cart_buttons {
  margin: 0;
  padding: 10px 15px 20px;
  text-align: center;
}

.cart-dropdown .dropdown-menu .cart_footer .cart_buttons .view-cart,
.cart-dropdown .dropdown-menu .cart_footer .cart_buttons .checkout {
  padding: 8px 20px;
}

.cart-dropdown .cart_box {
  width: 360px;
  position: absolute;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: calc(100% - 30px) 0;
          transform-origin: calc(100% - 30px) 0;
  display: block;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding: 0;
  top: 100% !important;
  left: auto !important;
  right: 0;
  background-color: #fff;
}

.cart-dropdown .cart_box .cart_list {
  width: 100%;
  padding: 0 !important;
  max-height: 242px;
  overflow-y: auto;
  list-style: none;
  overflow: hidden;
}

.cart-dropdown .cart_box .cart_list li {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  position: relative;
  list-style: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: inline-block;
  width: 100%;
}

.cart-dropdown .cart_box .cart_list li a {
  font-size: 14px;
  vertical-align: top;
  padding: 0 !important;
  text-transform: capitalize;
  font-weight: 600;
}

.cart-dropdown .cart_box .cart_list li a img {
  float: left;
  margin-right: 10px;
  max-width: 60px;
}

.cart-dropdown .cart_box .cart_list li .item_remove {
  float: right;
  margin-left: 5px;
  color: #333 !important;
}

.cart-dropdown .cart_box .cart_list li .cart_quantity {
  color: #000;
  display: table;
  margin-top: 5px;
  font-weight: 500;
}

.cart-dropdown:hover .cart_box {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* END CART PRODUCT DROBDWON  */
/* START SECTION BREADCRUMB  */
/* END SECTION BREADCRUMB */
/*# sourceMappingURL=component.css.map */