/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /* Strat top nav */
  .top-nav .nav-pages {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-nav .nav-info ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .top-nav .nav-info ul .nav-item {
    margin-right: 10px;
  }
  .top-nav .nav-info ul .nav-item .nav-link {
    padding: 0;
  }
  .top-nav .nav-info ul .nav-item .nav-link i {
    margin: 3px;
  }
  /* End top nav */
  /*navbar*/
  .navbar .navbar-toggler {
    position: absolute;
    right: 5%;
  }
  .navbar .navbar-toggler:focus {
    outline: none;
  }
  .navbar .navbar-collapse {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 999;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    -webkit-box-shadow: 0px 5px 10px #0000001a;
            box-shadow: 0px 5px 10px #0000001a;
  }
  .navbar .navbar-collapse .navbar-nav {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px #0000001a;
            box-shadow: 0px 5px 10px #0000001a;
  }
  .navbar .navbar-collapse .navbar-nav .costom-hov .dropdown-menu {
    display: none;
  }
  .navbar .nav-mob {
    display: block;
    margin-right: 50px;
  }
  .navbar .nav-mob .costomli {
    display: inline;
    padding: 10px;
  }
  .navbar .nav-mob .costomli a {
    display: inline;
    border: none;
  }
  .navbar .nav-mob .costomli::after {
    display: none;
  }
  .navbar .nav-mob .costomli .show {
    right: -50px;
    width: 310px;
  }
  /*navbar*/
  /* Start  SEction Banner*/
  .banner div img {
    width: auto;
    height: 300px;
  }
  .banner div .btn {
    padding: 6px 20px;
  }
  .banner .banner-text {
    left: 10%;
  }
  .banner .banner-text h6 {
    font-size: 13px;
  }
  .banner .banner-text h2 {
    font-size: 24px;
  }
  .banner .banner-text p {
    display: none;
  }
  .banner .costom {
    -webkit-transform: translateY(76%);
            transform: translateY(76%);
  }
  /* End  SEction Banner*/
  /* START SECTION SHIPPING INFO */
  .shipping-info .info-box {
    margin-bottom: -1px;
    padding: 10px;
  }
  /* END SECTION SHIPPING INFO */
  /* START SECTION BANNER SALE  */
  .sale-bammer .single_banner {
    margin-bottom: 30px;
  }
  /* END SECTION BANNER SALE */
  /* START SECTION INSTAGRAM IMAGE */
  .instgram-img .follow_box {
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
    max-width: 310px;
    padding: 15px;
  }
  .instgram-img .follow_box i {
    font-size: 70px;
  }
  .instgram-img .follow_box h3 {
    font-size: 24px;
  }
  /* END SECTION INSTAGRAM IMAGE*/
  /* Start Footer */
  footer .footer-top {
    padding: 30px 0px 0px 0px;
  }
  footer .footer-bottom .footer-copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  footer .footer-bottom .footer_payment {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* End Footer */
  /*===================================*
	START SHOPLIST PAGE
*===================================*/
  /* START SECTION SHOP */
  .section-shop .product_header {
    display: block;
  }
  .section-shop .product_header .product_header_right {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
  }
  .section-shop .list .product_box .product_img {
    float: none;
    width: 100%;
    max-width: 100%;
  }
  .section-shop .list .product_info {
    overflow: unset;
  }
  /* END SECTION SHOP */
  /* START SECTION BREADCRUMB */
  .breadcrub {
    padding: 40px 0;
  }
  .breadcrub .page-title {
    margin-bottom: 10px;
  }
  /* END SECTION BREADCRUMB */
  /*  START sidebar widget */
  .section-shop {
    padding: 40px 0;
  }
  .section-shop .sidebar .widget .range {
    width: 80%;
    margin: 0 auto;
  }
  /* END sidebar widget */
  /* START SECTION SUBSCRIBE NEWSLETTER */
  .section-newsletter {
    padding: 15px 15px;
  }
  .section-newsletter .Subscribe-text h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .section-newsletter .newsletter_form input {
    padding: 10px 140px 10px 20px !important;
    height: 44px !important;
  }
  .section-newsletter .newsletter_form button {
    padding: 10px 15px;
    font-size: 14px;
  }
  /*END SECTION SUBSCRIBE NEWSLETTER*/
  /*===================================*
	END SHOPLIST PAGE
*===================================*/
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Strat top nav */
  .top-nav .nav-pages {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-nav .nav-info ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .top-nav .nav-info ul .nav-item {
    margin-right: 10px;
  }
  .top-nav .nav-info ul .nav-item .nav-link {
    padding: 0;
  }
  .top-nav .nav-info ul .nav-item .nav-link i {
    margin: 3px;
  }
  /* End top nav */
  /*navbar*/
  .navbar .navbar-toggler {
    position: absolute;
    right: 5%;
  }
  .navbar .navbar-toggler:focus {
    outline: none;
  }
  .navbar .navbar-collapse {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 999;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    -webkit-box-shadow: 0px 5px 10px #0000001a;
            box-shadow: 0px 5px 10px #0000001a;
  }
  .navbar .navbar-collapse .navbar-nav {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px #0000001a;
            box-shadow: 0px 5px 10px #0000001a;
  }
  .navbar .navbar-collapse .navbar-nav .costom-hov .dropdown-menu {
    display: none;
  }
  .navbar .nav-mob {
    display: block;
    margin-right: 30px;
  }
  .navbar .nav-mob .costomli {
    display: inline;
    padding: 10px;
  }
  .navbar .nav-mob .costomli a {
    display: inline;
    border: none;
  }
  /*navbar*/
  /* Start  SEction Banner*/
  .banner div img {
    height: 400px;
  }
  .banner .banner-text {
    left: 10%;
  }
  .banner .banner-text h6 {
    font-size: 13px;
  }
  .banner .banner-text h2 {
    font-size: 24px;
  }
  .banner .banner-text p {
    width: 50%;
  }
  .banner .costom {
    -webkit-transform: translateY(76%);
            transform: translateY(76%);
  }
  /* End  SEction Banner*/
  /* START SECTION SHIPPING INFO */
  .shipping-info .info-box {
    margin-bottom: -1px;
  }
  /* END SECTION SHIPPING INFO */
  /* START SECTION BANNER SALE  */
  .sale-bammer .single_banner {
    margin-bottom: 30px;
  }
  /* END SECTION BANNER SALE */
  /* Start Footer */
  footer .footer-bottom .footer-copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  footer .footer-bottom .footer_payment {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* End Footer */
  /*===================================*
	START SHOPLIST PAGE
*===================================*/
  /* START SECTION SHOP */
  .section-shop .list .product_box .product_img {
    float: none;
    width: 100%;
    max-width: 100%;
  }
  /* END SECTION SHOP */
  /* START SECTION BREADCRUMB */
  .breadcrub .page-title {
    margin-bottom: 10px;
  }
  /* END SECTION BREADCRUMB */
  /* START SECTION SUBSCRIBE NEWSLETTER */
  .section-newsletter .Subscribe-text h3 {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 20px;
  }
  /*END SECTION SUBSCRIBE NEWSLETTER*/
  /*===================================*
	END SHOPLIST PAGE
*===================================*/
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Strat top nav */
  .top-nav .nav-info ul .nav-item {
    margin-right: 5px;
  }
  .top-nav .nav-info ul .nav-item .nav-link {
    padding: 0;
  }
  .top-nav .nav-info ul .nav-item .nav-link i {
    margin: 3px;
  }
  /* End top nav */
  /*navbar*/
  .navbar .navbar-toggler {
    position: absolute;
    right: 5%;
  }
  .navbar .navbar-toggler:focus {
    outline: none;
  }
  .navbar .navbar-collapse {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 999;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    -webkit-box-shadow: 0px 5px 10px #0000001a;
            box-shadow: 0px 5px 10px #0000001a;
  }
  .navbar .navbar-collapse .navbar-nav {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px #0000001a;
            box-shadow: 0px 5px 10px #0000001a;
  }
  .navbar .navbar-collapse .navbar-nav .costom-hov .dropdown-menu {
    display: none;
  }
  .navbar .nav-mob {
    display: block;
    margin-right: 80px;
  }
  .navbar .nav-mob .costomli {
    display: inline;
    padding: 10px;
  }
  .navbar .nav-mob .costomli a {
    display: inline;
    border: none;
  }
  /*navbar*/
  /* Start  SEction Banner*/
  .banner div img {
    height: 450px;
  }
  .banner .banner-text {
    left: 10%;
  }
  .banner .banner-text h6 {
    font-size: 14px;
  }
  .banner .banner-text h2 {
    font-size: 40px;
  }
  .banner .costom {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  /* End  SEction Banner*/
  /* START SECTION SHIPPING INFO */
  .shipping-info .info-box {
    padding: 10px;
    margin-left: -1px;
    margin-bottom: -1px;
  }
  .shipping-info .info-box .icon-box {
    margin-left: 15px;
  }
  /* END SECTION SHIPPING INFO */
  /* START SECTION SHOP */
  .section-shop .product_box .product_info .add-to-cart .btn {
    padding: 10px 12px;
  }
  .section-shop .product_box:hover .product_info .add-to-cart .btn {
    padding: 10px 12px;
  }
  /* END SECTION SHOP */
  /* START SECTION BANNER SALE  */
  .sale-bammer .single_banner img {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }
  .sale-bammer .single_banner .sale-info-one {
    top: 5px;
    left: 5px;
  }
  .sale-bammer .single_banner .sale-info-one h5 {
    font-size: 18px;
  }
  .sale-bammer .single_banner .sale-info-one h3 {
    font-size: 22px;
  }
  .sale-bammer .single_banner .sale-info-tow {
    left: 15px;
  }
  .sale-bammer .single_banner .sale-info-tow h4 {
    font-size: 18px;
  }
  .sale-bammer .single_banner .sale-info-tow h2 {
    font-size: 22px;
  }
  /* END SECTION BANNER SALE */
  /* START SECTION INSTAGRAM IMAGE */
  .instgram-img .follow_box {
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
  /* END SECTION INSTAGRAM IMAGE*/
  /* Start Footer */
  footer .footer-bottom .footer-copy {
    font-size: 12px;
  }
  /* End Footer */
  /*===================================*
	START SHOPLIST PAGE
*===================================*/
  /* START SECTION BREADCRUMB */
  .breadcrub .page-title {
    margin-bottom: 10px;
  }
  /* END SECTION BREADCRUMB */
  /* START SECTION SUBSCRIBE NEWSLETTER */
  .section-newsletter .Subscribe-text h3 {
    font-size: 26px;
    font-weight: 500;
  }
  /*END SECTION SUBSCRIBE NEWSLETTER*/
  /*===================================*
	END SHOPLIST PAGE
*===================================*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Start  SEction Banner*/
  .banner div img {
    height: 450px;
  }
  .banner .banner-text {
    left: 10%;
  }
  .banner .banner-text h6 {
    margin-bottom: 1rem;
  }
  .banner .banner-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .banner .banner-text p {
    margin-bottom: 30px;
  }
  .banner .costom {
    -webkit-transform: translateY(76%);
            transform: translateY(76%);
  }
  /* End  SEction Banner*/
  /* START SECTION SHIPPING INFO */
  .shipping-info {
    padding: 50px 0;
  }
  .shipping-info .info-box {
    padding: 15px;
  }
  .shipping-info .info-box .box-text {
    overflow: hidden;
    margin-top: 15px;
  }
  .shipping-info .info-box .box-text p {
    font-size: 12px;
  }
  /* END SECTION SHIPPING INFO */
  /* START SECTION SHOP */
  .section-shop .product_box .product_info .add-to-cart .btn {
    padding: 10px 12px;
  }
  .section-shop .product_box:hover .product_info .add-to-cart .btn {
    padding: 10px 12px;
  }
  /* END SECTION SHOP */
  /* START SECTION INSTAGRAM IMAGE */
  .instgram-img .follow_box {
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
  /* END SECTION INSTAGRAM IMAGE*/
}

/* Extra large devices (large desktops, 1200px and up) */
/*# sourceMappingURL=responsive.css.map */