/* START SECTION BREADCRUMB */
.breadcrub {
  padding: 70px 0;
  background-color: #f7f8fb;
}

.breadcrub .page-title h1 {
  margin: 0;
  text-transform: capitalize;
  font-weight: bold;
  line-height: normal;
  font-size: 28px;
}

.breadcrub .breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.breadcrub .breadcrumb li {
  font-size: 14px;
}

/* END SECTION BREADCRUMB */
/* START SECTION SHOP */
.section-shop {
  padding: 100px 0;
  position: relative;
  /* start product header */
  /* end product header */
  /* start pagination */
  /* end pagination */
  /* Start sidebar widget */
  /* END sidebar widget */
}

.section-shop .shop_container {
  position: relative;
}

.section-shop .shop_container .product_box {
  background-color: #fff;
  position: relative;
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0 0 7px #0000001a;
          box-shadow: 0 0 7px #0000001a;
  border-radius: 2px;
}

.section-shop .shop_container .product_box .product_info .product_price {
  float: left;
}

.section-shop .shop_container .product_box .product_info .product_price .on_sale {
  display: inline-block;
  color: #388e3c;
  font-size: 14px;
}

.section-shop .list {
  /* product_box */
}

.section-shop .list [class*="col-"] {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.section-shop .list .product_box {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0 0 7px #0000001a;
          box-shadow: 0 0 7px #0000001a;
}

.section-shop .list .product_box .pr_flash {
  background-color: #FF9F00;
  position: absolute;
  left: 10px;
  top: 10px;
  text-transform: uppercase;
  color: #fff;
  padding: 2px 8px;
  font-size: 13px;
  z-index: 1;
}

.section-shop .list .product_box .product_img {
  float: left;
  width: 100%;
  max-width: 280px;
}

.section-shop .list .product_box .product_img .product_action_box {
  display: none;
  position: static;
}

.section-shop .list .product_box .product_info {
  overflow: hidden;
  text-align: left;
  padding: 15px 30px;
}

.section-shop .list .product_box .product_info .product_title {
  font-size: 20px;
  margin-bottom: 15px;
}

.section-shop .list .product_box .product_info .product_price {
  float: left;
}

.section-shop .list .product_box .product_info .product_price .on_sale {
  display: inline-block;
  color: #388e3c;
  font-size: 14px;
}

.section-shop .list .product_box .product_info .rating_wrap {
  display: block;
  float: right;
}

.section-shop .list .product_box .product_info .pr_desc {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  min-height: 58px;
  max-height: 84px;
}

.section-shop .list .product_box .product_info .pr_switch_wrap {
  padding: 0;
  opacity: 1;
  visibility: visible;
  margin-bottom: 10px;
  position: static;
}

.section-shop .list .product_box .product_info .pr_switch_wrap span {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  position: relative;
  cursor: pointer;
  border-radius: 100%;
}

.section-shop .list .product_box .product_info .pr_switch_wrap .active::before {
  content: "";
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: -3px;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 5px #00000080;
          box-shadow: 0 0 5px #00000080;
}

.section-shop .list .product_box .product_info .list_product_action_box .pr_action_btn {
  display: block;
  margin: 0;
  margin-top: 30px;
}

.section-shop .list .product_box .product_info .list_product_action_box .pr_action_btn li {
  position: relative;
  margin: 0 5px 0 0;
  display: inline-block;
  vertical-align: middle;
  list-style: none;
}

.section-shop .list .product_box .product_info .list_product_action_box .pr_action_btn li a {
  background-color: #fff;
  font-size: 0;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 37px;
  height: 37px;
  padding: 0;
  display: block;
  text-align: center;
}

.section-shop .list .product_box .product_info .list_product_action_box .pr_action_btn li a i {
  vertical-align: middle;
  line-height: 37px;
  font-size: 18px;
}

.section-shop .list .product_box .product_info .list_product_action_box .pr_action_btn .list-add-to-cart a {
  font-size: 16px;
  width: auto;
  height: auto;
  padding: 4px 36px;
  background-color: #FF324D;
  border: 1px solid #FF324D;
  color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-shop .list .product_box .product_info .list_product_action_box .pr_action_btn .list-add-to-cart a:hover {
  background-color: transparent;
  color: #FF324D;
}

.section-shop .list .product_box:hover .add-to-cart {
  display: none;
}

.section-shop .list .product_box .product_img::before {
  opacity: 0;
}

.section-shop .grid .product_box .pr_flash {
  background-color: #FF9F00;
  position: absolute;
  left: 10px;
  top: 10px;
  text-transform: uppercase;
  color: #fff;
  padding: 2px 8px;
  font-size: 13px;
  z-index: 1;
}

.section-shop .grid .product_box .product_info .product_price .on_sale {
  display: none;
}

.section-shop .grid .product_box .product_info .list_product_action_box {
  display: none;
}

.section-shop .grid .product_box:hover .add-to-cart {
  bottom: 0px;
}

.section-shop .product_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.section-shop .product_header .product_header_left .custom_select,
.section-shop .product_header .product_header_right .custom_select {
  position: relative;
}

.section-shop .product_header .product_header_left .custom_select::before,
.section-shop .product_header .product_header_right .custom_select::before {
  content: "\e64b";
  font-family: 'themify';
  position: absolute;
  display: block;
  color: #848484;
  top: 50%;
  right: 15px;
  font-weight: 900;
  pointer-events: none;
  font-size: 12px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.section-shop .product_header .product_header_left .custom_select select,
.section-shop .product_header .product_header_right .custom_select select {
  height: 45px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #ced4da;
  padding: 8px 35px 8px 15px;
  width: 100%;
}

.section-shop .product_header .product_header_left .custom_select option,
.section-shop .product_header .product_header_right .custom_select option {
  color: #000;
}

.section-shop .product_header .product_header_left .form-control,
.section-shop .product_header .product_header_right .form-control {
  color: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-shop .product_header .product_header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.section-shop .product_header .product_header_right .products_view {
  display: inline-block;
  vertical-align: middle;
}

.section-shop .product_header .product_header_right .products_view .shorting_icon {
  font-size: 18px;
  margin-right: 10px;
  height: 45px;
  width: 45px;
  float: left;
  text-align: center;
  line-height: 45px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
}

.section-shop .product_header .product_header_right .products_view .active {
  background-color: #FF324D;
  color: #fff;
  border-color: #ff324d;
}

.section-shop .pagination .page-item {
  margin-right: 5px;
}

.section-shop .pagination .page-item .page-link {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  padding: 0px;
  z-index: 1;
  margin-left: 0;
}

.section-shop .pagination .active .page-link {
  background-color: #FF324D;
  border-color: #FF324D;
  color: #fff;
}

.section-shop .pagination_style1 a {
  border: 2px solid #dee2e6;
  border-radius: 0 !important;
  color: #687188;
  line-height: 36px;
}

.section-shop .pagination_style1 .page-item:hover .page-link {
  background-color: #FF324D;
  border-color: #FF324D;
  color: #fff;
}

.section-shop .sidebar .widget {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 30px;
  /*  Strat list brand */
  /* End list brand */
  /*Start product_size_switch*/
  /*End product_size_switch*/
  /* Start product_color_switch */
  /* End product_color_switch */
  /* Start shop_banner */
  /* End shop_banner */
}

.section-shop .sidebar .widget:first-child {
  border: none;
}

.section-shop .sidebar .widget .widget_title {
  margin-bottom: 25px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.section-shop .sidebar .widget .widget_categories li {
  padding-bottom: 10px;
  list-style: none;
}

.section-shop .sidebar .widget .widget_categories li a {
  font-size: 14px;
}

.section-shop .sidebar .widget .widget_categories li a::before {
  content: "\e649";
  font-family: 'themify';
  height: auto;
  line-height: normal;
  margin-right: 10px;
}

.section-shop .sidebar .widget .widget_categories li a .categories_name {
  position: relative;
}

.section-shop .sidebar .widget .widget_categories li a .categories_num {
  float: right;
  font-size: 14px;
}

.section-shop .sidebar .widget .range {
  display: -ms-grid;
  display: grid;
}

.section-shop .sidebar .widget .range .slidervalue {
  position: relative;
  width: 100%;
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

.section-shop .sidebar .widget .range .slidervalue span {
  position: absolute;
  height: 45px;
  width: 45px;
  color: #fff;
  font-weight: 500;
  top: -60px;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  line-height: 55px;
  z-index: 2;
}

.section-shop .sidebar .widget .range .slidervalue span::after {
  content: "";
  height: 45px;
  width: 45px;
  position: absolute;
  background-color: #FF324D;
  font-weight: 500;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  border: 3px solid #fff;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.section-shop .sidebar .widget .range .slidervalue .show {
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

.section-shop .sidebar .widget .range .field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.section-shop .sidebar .widget .range .field .value {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: #FF324D;
}

.section-shop .sidebar .widget .range .field .left {
  left: -20px;
}

.section-shop .sidebar .widget .range .field .right {
  right: -35px;
}

.section-shop .sidebar .widget .range .field input {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 3px;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}

.section-shop .sidebar .widget .range .field input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 14px;
  height: 14px;
  background-color: #FF324D;
  border-radius: 50%;
  border: 1px solid #FF324D;
  cursor: pointer;
}

.section-shop .sidebar .widget .list_brand li {
  list-style: none;
  margin-bottom: 10px;
}

.section-shop .sidebar .widget .list_brand li .custome-checkbox input[type="checkbox"] {
  display: none;
}

.section-shop .sidebar .widget .list_brand li .custome-checkbox input[type="checkbox"]:checked + .form-check-label::before {
  background-color: #FF324D;
  border-color: #FF324D;
}

.section-shop .sidebar .widget .list_brand li .custome-checkbox input[type="checkbox"]:checked + .form-check-label::after {
  opacity: 1;
}

.section-shop .sidebar .widget .list_brand li .custome-checkbox input[type="checkbox"] + .form-check-label::after {
  content: "";
  width: 11px;
  position: absolute;
  top: 50%;
  left: 3px;
  opacity: 0;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: translateY(-65%) rotate(-45deg);
  transform: translateY(-65%) rotate(-45deg);
}

.section-shop .sidebar .widget .list_brand li .custome-checkbox .form-check-label {
  position: relative;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
  color: #292b2c;
}

.section-shop .sidebar .widget .list_brand li .custome-checkbox .form-check-label::before {
  content: "";
  border: 2px solid #ced4da;
  height: 17px;
  width: 17px;
  margin: 0px 8px 0 0;
  display: inline-block;
  vertical-align: middle;
}

.section-shop .sidebar .widget .list_brand li .custome-checkbox .form-check-label span {
  vertical-align: middle;
}

.section-shop .sidebar .widget .product_size_switch span {
  cursor: pointer;
  text-transform: uppercase;
  width: 32px;
  display: inline-block;
  border: 2px solid #ddd;
  text-align: center;
  height: 32px;
  line-height: 28px;
  font-size: 14px;
  margin-bottom: 3px;
}

.section-shop .sidebar .widget .product_size_switch .active {
  border-color: #FF324D;
  background-color: #ff324d;
  color: #fff;
}

.section-shop .sidebar .widget .product_color_switch span {
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  position: relative;
  cursor: pointer;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.section-shop .sidebar .widget .product_color_switch .active::before {
  content: "";
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: -3px;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.section-shop .sidebar .widget .shop_banner {
  position: relative;
  display: table;
  margin: 0 auto;
}

.section-shop .sidebar .widget .shop_banner .banner_img {
  position: relative;
}

.section-shop .sidebar .widget .shop_banner .banner_img img {
  max-width: 100%;
}

.section-shop .sidebar .widget .shop_banner .overlay_bg_20::before {
  background-color: #000;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  opacity: 0.2;
}

.section-shop .sidebar .widget .shop_banner .shop_bn_content2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.section-shop .sidebar .widget .shop_banner .shop_bn_content2 .shop_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white {
  background-color: transparent;
  border: 1px solid #fff;
  color: #292b2c !important;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 0 !important;
}

.section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white:disabled, .section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white:not(disabled) {
  cursor: pointer;
}

.section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white:active, .section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white:hover, .section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: medium none;
}

.section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white:active::after, .section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white:active::before, .section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white:hover::after, .section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white:hover::before, .section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white:focus::after, .section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white:focus::before {
  width: 0;
}

.section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white::after, .section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 50%;
}

.section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-white::after {
  right: 0;
  left: auto;
}

.section-shop .sidebar .widget .shop_banner .shop_bn_content2 .btn-sm {
  padding: 8px 25px;
}

.section-shop .sidebar .widget .shop_banner .text_white * {
  color: #fff;
}

.section-shop .sidebar .widget .shop_banner .text_white *:hover {
  color: #fff !important;
}

/* END SECTION SHOP */
/* START SECTION SUBSCRIBE NEWSLETTER */
.section-newsletter {
  background-color: #FF324D;
  padding: 50px 50px;
}

.section-newsletter .Subscribe-text h3 {
  color: #fff;
}

.section-newsletter .newsletter_form form {
  position: relative;
}

.section-newsletter .newsletter_form form .form-control {
  color: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 50px;
  padding: 8px 15px;
  border: none;
}

.section-newsletter .newsletter_form form button {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*END SECTION SUBSCRIBE NEWSLETTER*/
/*# sourceMappingURL=ShopList.css.map */